$padddingnav: 8px;

nav ul{
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
}

li{
    display: inline;
    padding-left: $padddingnav;
    padding-right: $padddingnav;
}

nav{
    position: absolute;
    text-align: center;
    right: 0%;
}

nav a{
    text-decoration: none;
    color:rgb(54, 53, 50)
}