.upper {
  position: relative;
  background-color: rgba(182, 191, 196, 0.164);
  padding-bottom: 90px;
  padding-top: 5px;
  border: 1px solid #b1afaf; }

header {
  margin-top: 30px; }

header a {
  color: #928a96;
  text-decoration: none;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  left: 30px; }

header h5 {
  text-align: left;
  position: absolute;
  margin-top: 40px;
  left: 150px; }

nav ul {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 20px; }

li {
  display: inline;
  padding-left: 8px;
  padding-right: 8px; }

nav {
  position: absolute;
  text-align: center;
  right: 0%; }

nav a {
  text-decoration: none;
  color: #363532; }

.aboveHeader {
  padding-left: 30px;
  position: inherit;
  padding-bottom: 5px; }

.disclaimer {
  position: absolute; }

.aboveNav {
  position: absolute;
  right: 0%;
  padding-right: 30px; }

.aboveNav a {
  text-decoration: none;
  color: #363532; }

footer {
  text-align: center;
  background-color: rgba(134, 128, 134, 0.301);
  padding-top: 10px;
  padding-bottom: 10px; }

body {
  background-image: url("../images/background.jpg"); }

#catalog {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  justify-content: center; }

#card {
  margin: 5px;
  cursor: pointer;
  width: 190px; }

#catalog img {
  width: 150px;
  height: 150px;
  border: 1px solid #b1afaf; }

.card-name {
  color: #726a7c;
  text-transform: uppercase; }

.card-body {
  border: 1px solid #b1afaf;
  background-color: rgba(214, 189, 211, 0.685); }

#modal-content {
  background-color: #fefefe;
  background-image: url("../images/background.jpg");
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; }

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

.nombredelproducto {
  margin-top: 50px; }

.bodyframe {
  display: flex; }

.imageframe img {
  height: 500px;
  width: 500px;
  border: 1px solid #888; }

.descriptionframe {
  margin-left: 20px;
  padding: 10px;
  margin-right: 5px;
  background-color: #888; }

.description {
  margin-top: 40px; }

body {
  width: 95%;
  margin-left: auto;
  margin-right: auto; }
