$margin:5px;

body{
  background-image: url("../images/background.jpg");
}

#catalog{
    display:flex;
    flex-wrap: wrap;
    margin-top: $margin;
    justify-content: center;
}

#card{
    margin: $margin;
    cursor: pointer;
    width:190px;
}

#catalog img{
    width:150px;
    height: 150px;
    border: 1px solid rgb(177, 175, 175);
}

.card-name{
  color:rgb(114, 106, 124);
  text-transform: uppercase;
}

.card-body{
  border: 1px solid rgb(177, 175, 175);
  background-color:rgba(214, 189, 211, 0.685);
}

#modal-content {
  background-color: #fefefe;
  background-image: url("../images/background.jpg");
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.nombredelproducto{
  margin-top:50px;
}

.bodyframe{
  display:flex;
}

.imageframe img{
  height: 500px;
  width: 500px;
  border: 1px solid #888;
}

.descriptionframe{
  margin-left: 20px;
  padding: 10px;
  margin-right: $margin;
  background-color: #888;
}

.price{
  
}

.description{
  margin-top: 40px;
}